In [1]:
import pandas as pd

In [19]:
lista_cobro_emisora = pd.read_csv("ListaCobroEmisora.csv").fillna("")
cat_emisora = pd.read_csv("CatEmisora.csv")
lista_cobro = pd.read_csv("ListaCobro.csv").fillna("")
cat_banco = pd.read_csv("CatBanco.csv").fillna("")
cat_respuesta = pd.read_csv("CatRespuestaBancos.csv").fillna("")

In [25]:
df_list = []
for i in range(4):
    year = 2022+i
    df_tmp = pd.read_csv(f"ListaCobroDetalle{year}.csv", low_memory=False).fillna("")
    df_tmp["YEAR"] = year
    df_list.append(df_tmp)
    print(df_tmp.shape)

(361012, 10)
(1681362, 10)
(5900894, 10)
(2114172, 10)

In [26]:
lista_cobro_detalle = pd.concat(df_list)

In [27]:
lista_cobro_detalle

,idListaCobro,idCredito,consecutivoCobro,idBanco,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,YEAR
0,100613,83021,27169966,2,572.24,572.24,0.0,,04,2022
1,100613,87227,27169937,2,517.74,517.74,0.0,,04,2022
2,100613,103785,27169946,2,681.23,681.23,0.0,,04,2022
3,100613,110463,27169969,2,572.24,572.24,0.0,,04,2022
4,100613,113755,27169948,2,340.62,340.62,0.0,,04,2022
...,...,...,...,...,...,...,...,...,...,...
2114167,162271,741795,44299050,2,980.32,980.32,0.0,,4.0,2025
2114168,162271,741795,44299051,2,1633.86,1633.86,0.0,,4.0,2025
2114169,162271,742470,44299052,2,810.44,810.44,0.0,,4.0,2025
2114170,162271,742470,44299053,2,1350.74,1350.74,0.0,,4.0,2025
2114171,162271,742470,44299054,2,540.30,540.30,0.0,,4.0,2025

In [41]:
lista_cobro_detalle[lista_cobro_detalle["idRespuestaBanco"] == ""]["montoCobrado"].unique()

array([   0.  ,  495.5 ,  493.27, ..., 3328.02,  696.55,  415.59])

In [29]:
pd.DataFrame(lista_cobro_detalle.groupby("idListaCobro")["idCredito"].count()).reset_index()

       idListaCobro  idCredito
0             79678         39
1             79746         13
2             80111         94
3             80314        561
4             80507         28
...             ...        ...
29822        162267          6
29823        162268         33
29824        162269          2
29825        162270         27
29826        162271        127

[29827 rows x 2 columns]

In [33]:
cat_respuesta

    IdRespuestaBanco                      Descripcion
0                 00            Domiciliacion Exitosa
1                 01               Cuenta Inexistente
2                 02                 Cuenta Bloqueada
3                 03                 Cuenta Cancelada
4                 04      Cuenta Insuficiencia Fondos
..               ...                              ...
100             INC8                         Sin pago
101             INC9                 Cuenta Cancelada
102          DD00041  TRANSACCI?N RECHAZADA (OGE0076)
103          DD00042  TRANSACCI?N RECHAZADA (OGE0039)
104          DD00043                               EN

[105 rows x 2 columns]

In [34]:
gby_respuesta = pd.DataFrame(lista_cobro_detalle.groupby("idRespuestaBanco")["idCredito"].count()).reset_index().sort_values("idCredito", ascending=False)

In [35]:
gby_respuesta

   idRespuestaBanco  idCredito
4               4.0    7656741
23               04    1817440
0               0.0     228640
18                      149561
19               00      65263
40          DD00031      40128
8              13.0      21855
26               13      13158
10             26.0       9159
24               08       8244
29               26       7990
2               2.0       6639
6               8.0       5103
3               3.0       4000
37          DD00020       3411
21               02       3316
22               03       3135
20               01       3078
1               1.0       2367
39          DD00028       1824
30               30       1575
38          DD00021       1542
12             36.0       1165
11             30.0        477
45             INC9        292
44            INC16        267
28               19        228
31               36        183
32               40        164
14             40.0        153
42          DD00041         87
41          DD00033         82
17             88.0         47
33               42         40
36               88         24
7              10.0         19
25               10         18
16             84.0          7
43          DD00042          6
27               18          4
5               6.0          2
15             42.0          2
13             37.0          1
9              18.0          1
34               53          1
35               83          1

In [42]:
gby_respuesta["newID"] = ['Cuenta Insuficiencia Fondos','Cuenta Insuficiencia Fondos','Domiciliacion Exitosa','#N/A','Domiciliacion Exitosa','Cuenta con Insuficiencia de Fondos','Otras causas','Otras causas','Bajo Pago','Orden de no pagara a ese Emisor','Bajo Pago','Cuenta Bloqueada','Orden de no pagara a ese Emisor','Cuenta Cancelada','Reverso del cargo a solicitud del cliente','Cuenta Bloqueada','Cuenta Cancelada','Cuenta Inexistente','Cuenta Inexistente','Importe mayor al autorizado por el cliente','Domiciliacion no realizada','Cuenta Inexistente','ENTREGADO','Domiciliacion no realizada','Cuenta Cancelada','Cuenta Bloqueada','Operacion Invalida','ENTREGADO','TRANSACCI?N RECHAZADA (OGE0041)','TRANSACCI?N RECHAZADA (OGE0041)','TRANSACCI?N RECHAZADA (OGE0076)','Domiciliacion dada de baja','Bloqueo a todos los cargos','TRANSACCI?N RECHAZADA (OGE0039)','Bloqueo a todos los cargos','Domiciliacion dada de  baja','Domiciliacion dada de  baja','#N/A','TRANSACCI?N RECHAZADA (OGE0039)','Error en proceso de Domiciliacion','Cuenta no pertenece al Banco Cliente Usuario','TRANSACCI?N RECHAZADA (OGE0039)','TRANSACCION RECHAZADA','Error en proceso de Domiciliacion','Cuenta cancelada','Bin invÃƒÂ¡lido']

In [43]:
gby_respuesta

,idRespuestaBanco,idCredito,Porcentaje,newID
4,4.0,7656741,76.130119,Cuenta Insuficiencia Fondos
23,04,1817440,18.070602,Cuenta Insuficiencia Fondos
0,0.0,228640,2.273342,Domiciliacion Exitosa
18,,149561,1.487068,#N/A
19,00,65263,0.648903,Domiciliacion Exitosa
40,DD00031,40128,0.398988,Cuenta con Insuficiencia de Fondos
8,13.0,21855,0.217302,Otras causas
26,13,13158,0.130829,Otras causas
10,26.0,9159,0.091067,Bajo Pago
24,08,8244,0.081969,Orden de no pagara a ese Emisor
29,26,7990,0.079444,Bajo Pago
2,2.0,6639,0.066011,Cuenta Bloqueada
6,8.0,5103,0.050739,Orden de no pagara a ese Emisor
3,3.0,4000,0.039772,Cuenta Cancelada
37,DD00020,3411,0.033915,Reverso del cargo a solicitud del cliente
21,02,3316,0.032971,Cuenta Bloqueada
22,03,3135,0.031171,Cuenta Cancelada
20,01,3078,0.030604,Cuenta Inexistente
1,1.0,2367,0.023535,Cuenta Inexistente
39,DD00028,1824,0.018136,Importe mayor al autorizado por el cliente
30,30,1575,0.015660,Domiciliacion no realizada
38,DD00021,1542,0.015332,Cuenta Inexistente
12,36.0,1165,0.011583,ENTREGADO
11,30.0,477,0.004743,Domiciliacion no realizada
45,INC9,292,0.002903,Cuenta Cancelada
44,INC16,267,0.002655,Cuenta Bloqueada
28,19,228,0.002267,Operacion Invalida
31,36,183,0.001820,ENTREGADO
32,40,164,0.001631,TRANSACCI?N RECHAZADA (OGE0041)
14,40.0,153,0.001521,TRANSACCI?N RECHAZADA (OGE0041)
42,DD00041,87,0.000865,TRANSACCI?N RECHAZADA (OGE0076)
41,DD00033,82,0.000815,Domiciliacion dada de baja
17,88.0,47,0.000467,Bloqueo a todos los cargos
33,42,40,0.000398,TRANSACCI?N RECHAZADA (OGE0039)
36,88,24,0.000239,Bloqueo a todos los cargos
7,10.0,19,0.000189,Domiciliacion dada de baja
25,10,18,0.000179,Domiciliacion dada de baja
16,84.0,7,0.000070,#N/A
43,DD00042,6,0.000060,TRANSACCI?N RECHAZADA (OGE0039)
27,18,4,0.000040,Error en proceso de Domiciliacion
5,6.0,2,0.000020,Cuenta no pertenece al Banco Cliente Usuario
15,42.0,2,0.000020,TRANSACCI?N RECHAZADA (OGE0039)
13,37.0,1,0.000010,TRANSACCION RECHAZADA
9,18.0,1,0.000010,Error en proceso de Domiciliacion
34,53,1,0.000010,Cuenta cancelada
35,83,1,0.000010,Bin invÃƒÂ¡lido

In [38]:
gby_respuesta.to_excel("respuestas_lista.xlsx", index = False)

In [ ]:
gby_respuesta["Porcentaje"] = gby_respuesta["idCredito"]*100/gby_respuesta["idCredito"].sum()

In [37]:
gby_respuesta

   idRespuestaBanco  idCredito  Porcentaje
4               4.0    7656741   76.130119
23               04    1817440   18.070602
0               0.0     228640    2.273342
18                      149561    1.487068
19               00      65263    0.648903
40          DD00031      40128    0.398988
8              13.0      21855    0.217302
26               13      13158    0.130829
10             26.0       9159    0.091067
24               08       8244    0.081969
29               26       7990    0.079444
2               2.0       6639    0.066011
6               8.0       5103    0.050739
3               3.0       4000    0.039772
37          DD00020       3411    0.033915
21               02       3316    0.032971
22               03       3135    0.031171
20               01       3078    0.030604
1               1.0       2367    0.023535
39          DD00028       1824    0.018136
30               30       1575    0.015660
38          DD00021       1542    0.015332
12             36.0       1165    0.011583
11             30.0        477    0.004743
45             INC9        292    0.002903
44            INC16        267    0.002655
28               19        228    0.002267
31               36        183    0.001820
32               40        164    0.001631
14             40.0        153    0.001521
42          DD00041         87    0.000865
41          DD00033         82    0.000815
17             88.0         47    0.000467
33               42         40    0.000398
36               88         24    0.000239
7              10.0         19    0.000189
25               10         18    0.000179
16             84.0          7    0.000070
43          DD00042          6    0.000060
27               18          4    0.000040
5               6.0          2    0.000020
15             42.0          2    0.000020
13             37.0          1    0.000010
9              18.0          1    0.000010
34               53          1    0.000010
35               83          1    0.000010

In [4]:
lista_cobro_emisora.sample(10)

       idListaCobro  idEmisora
11262        138525          6
11768        139075          5
25101        156371          5
10412        137710          5
1356         119090         36
6345         133469         21
11559        139259          6
23111        153934          5
21950        150674          6
334           91897         78

In [ ]:
gby_credito = pd.DataFrame(lista_cobro_detalle.groupby("idCredito")["idListaCobro"].count()).reset_index().sort_values("idListaCobro", ascending=False)

In [5]:
lista_cobro_emisora.shape

(29827, 2)

In [6]:
cat_emisora.shape

(25, 5)

In [7]:
cat_emisora

,idEmisora,Nombre,IdBanco,Emisora,TipoEnvio
0,1,BANAMEX CLABE TRADICIONAL,2,NoAplica,TRADICIONAL
1,2,BANAMEX CUENTA,2,NoAplica,CUENTA
2,3,BANAMEX TARJETA,2,NoAplica,TARJETA
3,4,BANAMEX INTERBANCARIO,2,NoAplica,INTERBANCARIO
4,5,BANAMEX TRADICIONAL REINTENTO,2,NoAplica,TRADICIONAL
5,6,BBVA TRADICIONAL REINTENTO,12,REINTENTO,TRADICIONAL
6,7,BANORTE TRADICIONAL REINTENTO,72,REINTENTO,TRADICIONAL
7,8,SANTANDER TRADICIONAL REINTENTO,14,REINTENTO,TRADICIONAL
8,9,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL
9,10,SANTANDER CUENTA,14,00623,TRADICIONAL
10,11,SANTANDER CLABE INTERBANCARIO,14,00623,INTERBANCARIO
11,12,BANORTE CLABE TRADICIONAL,72,00496,TRADICIONAL
12,13,BANORTE CUENTA TRADICIONAL,72,00496,TRADICIONAL
13,14,BANORTE CLABE INTERBANCARIO,72,00496,INTERBANCARIO
14,15,BANORTE CLABE EN LINEA,72,00639,EN LINEA
15,16,BANORTE CUENTA EN LINEA,72,00639,EN LINEA
16,17,BBVA CLABE TRADICIONAL,12,07167,TRADICIONAL
17,18,BBVA CUENTA TRADICIONAL,12,07167,TRADICIONAL
18,19,BBVA CLABE MATUTINO,12,06114,MATUTINO
19,20,BBVA CUENTA MATUTINO,12,06114,MATUTINO
20,21,BBVA CLABE EN LINEA,12,07455,EN LINEA
21,22,BBVA CUENTA EN LINEA,12,07455,EN LINEA
22,23,BBVA CLABE PARCIAL,12,06111,PARCIAL
23,24,BBVA CUENTA PARCIAL,12,06111,PARCIAL
24,25,BBVA CLABE INTERBANCARIA,12,07167,INTERBANCARIO

In [12]:
lista_cobro_emisora.merge(cat_emisora, how = "left", on = "idEmisora")

,idListaCobro,idEmisora,Nombre,IdBanco,Emisora,TipoEnvio
0,79678,20,BBVA CUENTA MATUTINO,12.0,06114,MATUTINO
1,80111,20,BBVA CUENTA MATUTINO,12.0,06114,MATUTINO
2,80584,20,BBVA CUENTA MATUTINO,12.0,06114,MATUTINO
3,80941,19,BBVA CLABE MATUTINO,12.0,06114,MATUTINO
4,81214,20,BBVA CUENTA MATUTINO,12.0,06114,MATUTINO
...,...,...,...,...,...,...
29822,162206,5,BANAMEX TRADICIONAL REINTENTO,2.0,NoAplica,TRADICIONAL
29823,162207,5,BANAMEX TRADICIONAL REINTENTO,2.0,NoAplica,TRADICIONAL
29824,162208,5,BANAMEX TRADICIONAL REINTENTO,2.0,NoAplica,TRADICIONAL
29825,162240,5,BANAMEX TRADICIONAL REINTENTO,2.0,NoAplica,TRADICIONAL
29826,162235,5,BANAMEX TRADICIONAL REINTENTO,2.0,NoAplica,TRADICIONAL

In [10]:
lista_cobro_emisora["idEmisora"].unique()

array([20, 19, 62, 23, 78, 25, 21, 68, 16, 75, 24, 36, 34, 45,  1, 51, 79,
        7,  9, 67, 65, 54, 10,  2, 13, 12,  5, 17,  6, 11, 14, 15, 22,  4,
       18,  3], dtype=int64)

In [16]:
lista_cobro.shape

(29827, 4)

In [17]:
cat_banco.shape

(60, 2)